include mixins
doctype "html"
html(lang="en")
    include partials/head
    body(ng-app="EjderBe", ng-strict-di)
        .safe-container.container-fluid
            .row
                .main-navigation(
                    ng-controller="NavigationController"
                    ng-init="init()"
                )
                    .row.visible-lg.visible-md
                        +nav-button()(
                            ng-repeat="link in links"
                            ng-class="{'main-navigation__item--active':(link.path == activeLink)}"
                            href="{{link.target}}"
                        )
                            | {{link.text}}
                        .col-lg-4.hidden-md.main-navigation__links
                            a(
                                href="http://github.com/eyurdakul/ejder.be"
                                target="_blank"
                            )
                                i.devicon-github-plain
                                span view the source on github
                                // codepen linkedin playstore maybe facebook twitter and put those in the footer
                    .row.visible-xs.visible-sm
                        .col-xs-12.col-sm-12(uib-dropdown)
                            button#mobile_navigation.btn.btn-primary(
                                type="button"
                                uib-dropdown-toggle
                            ) Menu
                                span.glyphicon.glyphicon-menu-hamburger
                            ul.dropdown-menu(
                                uib-dropdown-menu
                                role="menu"
                                aria-labelledby="mobile_navigation"
                            )
                                +nav-button-mobile("{{link.target}}")(ng-repeat="link in links")
                                    | {{link.text}}
                    .row.hidden-lg
                        .col-xs-12.col-sm-12.col-md-12.main-navigation__links
                            i.devicon-git-plain
                            p view the source on github
            .row
                section.stage(ng-view)
