include mixins
doctype "html"
html(lang="en")
    include partials/head
    body(ng-app="EjderBe", ng-strict-di)
        .safe-container
            .main-navigation(
                ng-controller="NavigationController"
                ng-init="init()"
            )
                +nav-button()(
                    ng-repeat="link in links"
                    ng-class="{'main-navigation__item--active':(link.path == activeLink)}"
                    href="{{link.target}}"
                )
                    | {{link.text}}
                .visible-xs.visible-sm.col-xs-12.col-sm-12(uib-dropdown)
                    button#mobile_navigation.btn.btn-primary(
                        type="button"
                        uib-dropdown-toggle
                    ) Menu
                        span.glyphicon.glyphicon-menu-hamburger
                    ul.dropdown-menu(
                        uib-dropdown-menu
                        role="menu"
                        aria-labelledby="mobile_navigation"
                    )
                        +nav-button-mobile("{{link.target}}")(ng-repeat="link in links")
                            | {{link.text}}
                .clearfix.hidden-lg
                .col-xs-12.col-sm-12.col-md-12.col-lg-4.main-navigation__links
                    p extra links will be here
                .clearfix.visible-lg
            section.stage(ng-view)
