include mixins
doctype "html"
html(lang="en")
    include partials/head
    body(ng-app="EjderBe", ng-strict-di)
        .safe-container.container-fluid
            .row
                .main-navigation.col-xs-12(
                    ng-controller="NavigationController"
                    ng-init="init()"
                )
                    .row
                        +nav-button()(
                            ng-repeat="link in data.links"
                            ng-class="{'main-navigation__item--active':(link.path == activeLink)}"
                            href="{{link.target}}"
                        )
                            | {{link.text}}
                        .col-xs-12.col-md-4.side-bar
                            .side-bar__link-wrapper.pull-left(ng-repeat="externalLink in data.externalLinks")
                                +iconed-link("{{externalLink.href}}", "{{externalLink.icon}}", "{{externalLink.text}}").side-bar__link
            .row
                section.col-xs-12.stage(ng-view)
            footer.col-xs-12.footer(
                ng-controller="FooterController"
                ng-class="{'footer_collapsed':collapsed}"
            )
                .footer__wrapper
                    .footer__handler(
                        ng-click="toggle()"
                    )
                        span(ng-if="collapsed")
                            +glyph("chevron-up")
                        span(ng-if="!collapsed")
                            +glyph("chevron-down")
                    p some content comes here specialy the links to my codepen, linkedin, etc