include mixins
doctype "html"
html(lang="en")
    include partials/head
    body(ng-app="EjderBe", ng-strict-di)
        .safe-container.container-fluid
            .row
                .main-navigation.col-xs-12(
                    ng-controller="NavigationController"
                    ng-init="init()"
                )
                    .row
                        +nav-button()(
                            ng-repeat="link in links"
                            ng-class="{'main-navigation__item--active':(link.path == activeLink)}"
                            href="{{link.target}}"
                        )
                            | {{link.text}}
                        .col-xs-12.col-lg-4.main-navigation__links
                            +nav-side-button("http://github.com/eyurdakul/ejder.be", "devicon-github-plain", "view the source on github")
                            a(
                                href="http://github.com/eyurdakul/ejder.be"
                                target="_blank"
                            )
                                i.devicon-github-plain
                                span view the source on github

                                // codepen linkedin playstore maybe facebook twitter and put those in the footer fl-icon-linkedin
            .row
                section.col-xs-12.stage(ng-view)
