//
   Created by ejder on 10/25/2014.

-var svgPath = "/frontend/media/svg/"

mixin nav-button()
    a.col-md-3.col-lg-2.main-navigation__item&attributes(attributes)
        .main-navigation__item-link
            block

mixin nav-side-button(href, icon, text)
    a(
        href=href
        target="_blank"
    )
        i(
            class=icon
         )
        span #{text}

mixin nav-button-mobile()
    a.col-xs-12.col-sm-6.main-navigation__item&attributes(attributes)
        .main-navigation__item-link
            block

mixin svg-image(svgName)
    img.img-responsive(
        src=svgPath+svgName
    )