//
   Created by ejder on 10/25/2014.

-var svgPath = "/frontend/media/svg/"

mixin nav-button()
    a.col-xs-6.col-sm-3.col-md-2.main-navigation__item&attributes(attributes)
        .main-navigation__item-link
            block

mixin icon(iconName)
    i.fa&attributes(attributes)(
        class="fa-"+iconName
        aria-hidden="true"
    )

mixin glyph(iconName)
    i.glyphicon(
        class="glyphicon-"+iconName
        aria-hidden="true"
    )

mixin svg-image(svgName)
    object.img-responsive.auto-scale-to-parent&attributes(attributes)(
        type="image/svg+xml"
        data=svgPath+svgName+".svg"
    )

mixin svg-static(svgName)
    img.img-responsive.auto-scale-to-parent&attributes(attributes)(
        src=svgPath+svgName+".svg"
    )

mixin iconed-link(href, iconName, text)
    a&attributes(attributes)(
        href=href
        target="_blank"
        alt=text
    )
        +icon(iconName)
        .info-text #{text}

mixin loading()
    .loading.modal&attributes(attributes)
        +icon("circle-o-notch").fa-spin.loading__spin